/* * -- icono de producto -------------------*/
.todo-icon {
    width: 48px;
    height: 48px;
    margin: 0 2rem;
}

/* * -- botones -----------------------------*/

.btn {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 8px 0px;
    border-bottom: 2px solid;
    cursor: pointer;
    color: var(--font-color-dark);
}

.btn--new-light {
    border-color: var(--font-color-dark);
}

.btn--new-light::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/svg/add-ellipse-svgrepo-com.svg');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.btn--save-light {
    border-color: var(--font-color-accept);
}

.btn--save-light::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/svg/save-01-svgrepo-com.svg');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.btn--edit-light {
    border-color: var(--font-color-dark);
}

.btn--edit-light::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/svg/add-1-svgrepo-com.svg');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.btn--cancel-light {
    border-color: var(--font-color-cancel);
}

.btn--cancel-light::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/svg/cancle-circle-svgrepo-com.svg');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.btn--delete-light {
    border-color: var(--font-color-delete);
}

.btn--delete-light::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/svg/trash-svgrepo-com.svg');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.btn--done-light {
    border-color: var(--font-color-done);
}

.btn--done-light::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/svg/check-square-svgrepo-com.svg');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

/* * -- elementos de texto -----------------------*/

.title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

/* * -- nota ---------------------------------------*/

/* Estilos de la nota */
.note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
  padding: 10px;
  width: 300px;
  height: 320px;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  overflow: hidden;
  color: var(--secondary-font-color);
  background: var(--note-color);
}

.note__title {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .6px;
  line-height: 1.4;
  font-weight: bold;
}

.note__subtitle {
  display: block;
  width: 100%;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 1.4;
  font-style: italic;
  font-weight: bold;
}

.note__text {
  display: block;
  width: 100%;
  font-size: 17px;
  letter-spacing: .6px;
  line-height: 1.6;
}

.note__button {
  display: block;
  font-size: 12px;
  line-height: 90%;
  letter-spacing: .6px;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--secondary-font-color);
  border: 1px solid var(--secondary-font-color);
}

.note__button:hover {
  color: var(--primary-font-color);
  background-color: var(--secondary-font-color);
}

.note__section {
  width: 100%;
  padding: 5px 0;
}

.note__section--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  border-bottom: 1px solid var(--primary-color);
}

.note__section--status {
  height: 10%;
}

.note__body {
  height: 100%;
  width: 100%;
}

.note__section--text {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* * -- formulario -----------------------------*/
.form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 260px;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  /* margin: 15px 5px 8px; */
  height: auto;
  border-radius: 10px;
  background:var(--secondary-color);
  font-family: 'Lato', sans-serif;
}

/* show/hide form modal */
.form--hidden {
  display: none;
}

.form__label {
  margin: 5px 0;
  padding: 2px 0;
}

.form__input {
  display: block;
  min-width: 200px;
  width: 100%;
  max-width: 990px;
  height: 40px;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  color: var(--primary-font-color);
  background: var(--primary-color);
}

.form__input--textarea {
  height: auto;
}

.form__buttons-container {
  width: 100%;
  height: auto;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}