:root {

    --bg-color-dark: #353535;
    /* transparencia */
    --bg-color-accent: #35353580;
    --bg-color-light: #ffffff;
    --bg-color-gray: #ced4da;

    --font-color-dark: #353535;
    --font-color-light: #ffffff;
    --font-color-accept: #43aa8b;
    --font-color-cancel: #ced4da;
    --font-color-delete: #ef233c;
    --font-color-done: #007ea7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-font-color);
    background-color: var(--primary-color);
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bg-color-dark);
}

.title-container {
    padding: 0 2rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    padding: 0 2rem;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 2rem;
}

.footer {
    width: 100%;
    max-width: 1000px;
    height: 300px;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    color: var(--bg-color-light);
    background-color: var(--bg-color-dark);
}

.footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footer__divider {
    width: 100px;
    border-bottom: 2px solid var(--bg-color-light);
}