@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-font-color: #f5f1ed;
  --secondary-font-color: #161a1d;
  --primary-color: #353535;
  --secondary-color: #495057;
  --tertiary-color: #6c757d;
  --note-color: #ffd166;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-font-color);
  background-color: var(--primary-color);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 310px;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

.separador {
  min-width: 310px;
  max-width: 1000px;
  height: 1px;
  margin: 20px 5px;
  border-bottom: 1px solid var(--tertiary-color);
}

h1 {
  margin: 8px 5px;
  padding: 2px;
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  padding: 2px;
  margin: 5px;
  line-height: 1.8rem;
  font-size: 1.8rem;
}

h1, h3 {
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}


/* Estilos de la nota */
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
  padding: 10px;
  min-width: 260px;
  max-width: 1000px;
  height: auto;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 10px;
  color: var(--secondary-font-color);
  background: var(--note-color);
}

/* campo de texto de la nota */
ul li span {
  min-width: 200px;
  max-width: 800px;
}

/* boton de la nota */
ul li button {
  width: 50px;
  height: 30px;
  /* que el boton no se contraiga */
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: 300;
  color: var(--primary-font-color);
  background: var(--secondary-color);
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
  max-width: 1000px;
  padding: 10px;
  margin: 15px 0 8px;
  height: 60px;
  border-radius: 10px;
  background:var(--secondary-color);
}

form input {
  min-width: 200px;
  width: 900px;
  max-width: 900px;
  height: 40px;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: var(--font-color);
  background: var(--primary-color);
}

form button {
  width: 90px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--font-color);
  background: var(--tertiary-color);
}

p {
  margin: 10px 0;
  position: fixed;
  bottom: 0;
  right: calc(50% - 100px);
}

p a {
  color: var(--secondary-color);
}
