@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

:root {
  --font-color: #f5f1ed;
  --primary-color: #353535;
  --secondary-color: #70798c;
}

body {
  font-family: 'Oswald', sans-serif;
  color: var(--font-color);
  background-color: var(--primary-color);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 310px;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

h1 {
  margin: 10px 5px;
  padding: 5px;
}

ul {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
  padding: 10px;
  min-width: 260px;
  max-width: 1000px;
  height: auto;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 10px;
  background: var(--primary-color);
  box-shadow:  -12px -12px 14px #2b2b2b,
              12px 12px 14px #3f3f3f;
  }

  ul li span {
  min-width: 200px;
  max-width: 800px;
  }

  ul li button {
    width: 50px;
    height: 30px;
    /* que el button no se achique */
    flex-shrink: 0;
    cursor: pointer;
    color: var(--font-color);
    border: none;
    border-radius: 10px;
    background: #70798c;
    box-shadow:  -3px -3px 14px #2b2b2b,
                  3px 3px 14px #3f3f3f;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
  max-width: 1000px;
  padding: 10px;
  height: 60px;
  border-radius: 10px;
  background:var(--primary-color);
  box-shadow:  -12px -12px 14px #2b2b2b,
              12px 12px 14px #3f3f3f;
}

form input {
  min-width: 200px;
  width: 900px;
  max-width: 900px;
  height: 40px;
  margin-right: 10px;
  padding: 5px 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  color: var(--font-color);
  border-radius: 10px;
  background: #333533;
  box-shadow: inset -13px -13px 20px #303030,
              inset 13px 13px 20px #3a3a3a;
}

form button {
  width: 70px;
  height: 30px;
  cursor: pointer;
  color: var(--font-color);
  border: none;
  border-radius: 10px;
  background: #70798c;
  box-shadow:  -3px -3px 14px #2b2b2b,
                3px 3px 14px #3f3f3f;
}

p {
  position: fixed;
  bottom: 0;
  right: calc(50% - 100px);
}

p a {
  color: var(--secondary-color);
}
